@model Seminar.Models.Conference

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="conferenceID" />
            <div class="form-group">
                <label asp-for="conferenceName" class="control-label"></label>
                <input asp-for="conferenceName" class="form-control" />
                <span asp-validation-for="conferenceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conferenceVenue" class="control-label"></label>
                <input asp-for="conferenceVenue" class="form-control" />
                <span asp-validation-for="conferenceVenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conferenceDate" class="control-label"></label>
                <input asp-for="conferenceDate" class="form-control" />
                <span asp-validation-for="conferenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conferencePrice" class="control-label"></label>
                <input asp-for="conferencePrice" class="form-control" />
                <span asp-validation-for="conferencePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="organiserID" class="control-label"></label>
                <select asp-for="organiserID" class="form-control" asp-items="ViewBag.organiserID"></select>
                <span asp-validation-for="organiserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

