@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<table>
    <tr>
        <th>StudentID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>12001152</td>
        <td>Ashis Chaudhary</td>
        <td>12001152@students.koi.edu.au</td>
    </tr>
    <tr>
        <td>12001139</td>
        <td>Manish Senchuri</td>
        <td>12001139@students.koi.edu.au</td>
    </tr>
    <tr>
        <td>12000647 </td>
        <td>Archana KC</td>
        <td>12000647@students.koi.edu.au</td>
    </tr>
    <tr>
        <td>111902102</td>
        <td>Raju Phayel</td>
        <td>11902102@students.koi.edu.au</td>
    </tr>
</table>